@charset "ISO-8859-1";
body
{
	margin :0px;
	background-color: #804000;
}
header
{
	background-color:white;
	margin-top: 10px;
	height:100px;
}
h1
{	
	color:#804000;
	margin: 30px 193px 0px 129px;
	float:left;
}
h4
{
	
	
	float:left;
	color:teal;
	margin: 65px 193px 0px -250px;
	
}

.table
{
	font-size: medium;
	margin-top:50px;
}

.line
{
	float:left;
	background-color: black;
	height: 1px;
	width: 100%;
}
.jin
{
	border:solid;
	border-color: white;
	float:left;
	width:640px;
	height:450px;
	margin-top: 37px;
	margin-left: 30px;
}
.tex
{
	font-size: large;	
	padding-left: 33px;
    width: 523px;
    height: 449px;
    overflow: auto;
	vertical-align: middle;
	text-align: center;
}
.another
{
	border:solid;
	margin-bottom:37px;
	border-color: white;
	margin-top: 37px;
	margin-left: 707px;
    height: 450px;
    width: 580px;	
}
.dis
{
	opacity:0.3;
}
@media (max-width:360px)
{
body
{
	margin:0px;
	background-color:#004000 ;
}

header
{
	background-color:white;
	margin-top: 10px;
	height:100px;
}
h1
{	
	color: #804000;
    margin: 29px 109px 0px 122px;
    float: left;
}
h4
{
	
	
	float:left;
	color:teal;
	margin: 65px 193px 0px -250px;
	
}

.table
{
	font-size: medium;
	margin-top:50px;
}

.line
{
	float:left;
	background-color: black;
	height: 1px;
	width: 100%;
}
.jin
{
	border: solid;
    border-color: white;
    float: left;
    width: 333px;
    height: 450px;
    margin-top: 10px;
    margin-left: 11px;
}
.tex
{
	float: left;
    font-size: large;
    padding-left: 7px;
    width: 325px;
    height: 419px;
    overflow: scroll;
    /* vertical-align: middle; */
    text-align: justify;
}
.another
{
	border: solid;
    margin-bottom: 37px;
    border-color: white;
    margin-top: -3px;
    margin-left: 11px;
    height: 430px;
    width: 333px;
    float: left;
}
h3
{
	marign:0px;
}
}